body {
    margin: 0;
}

table {
    font-size: 16px;
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background-color: #3352ff;
    color: white;
}

div.inline {
    float: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.red-row {
    background-color: #ff0000;
}

.green-row {
    background-color: #90EE90;
}